#root {
  justify-content: center;
  align-items: center;
  display: flex;
}

.box {
  margin-top: 4rem;
  border: solid black 1px;
  background-color: whitesmoke;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  padding: 20px;

}

h1 {
  text-decoration: underline;
}

button {
  margin-left: 5px;
  background-color: cornflowerblue;
  margin-bottom: 10px;
}

input {
  margin-bottom: 10px;
}

li {
  border: solid rgb(20, 0, 17) 1px;
  margin-right: 10px;
  background-color: antiquewhite;
  text-align: left;
}